<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.group2.foodsshare.mapper.OrdersMapper">

    <sql id="Base_Column_List">
        id,order_no,name,img,price,num,total,status,time,user_id,address,phone,goods_id
    </sql>
<!--    -->
    <insert id="insert" parameterType="com.group2.foodsshare.entity.Orders" useGeneratedKeys="true" keyProperty="id">
        insert into orders
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="orderNo != null">order_no,</if>
            <if test="name != null">name,</if>
            <if test="img != null">img,</if>
            <if test="price != null">price,</if>
            <if test="num != null">num,</if>
            <if test="total != null">total,</if>
            <if test="status != null">status,</if>
            <if test="time != null">time,</if>
            <if test="userId != null">user_id,</if>
            <if test="address != null">address,</if>
            <if test="phone != null">phone,</if>
            <if test="goodsId != null">goods_id,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="orderNo != null">#{orderNo},</if>
            <if test="name != null">#{name},</if>
            <if test="img != null">#{img},</if>
            <if test="price != null">#{price},</if>
            <if test="num != null">#{num},</if>
            <if test="total != null">#{total},</if>
            <if test="status != null">#{status},</if>
            <if test="time != null">#{time},</if>
            <if test="userId != null">#{userId},</if>
            <if test="address != null">#{address},</if>
            <if test="phone != null">#{phone},</if>
            <if test="goodsId != null">#{goodsId},</if>
        </trim>
    </insert>


</mapper>
